*{
  margin:0;
  padding:0;
}
.App{
  display: flex;
}
.side_bar{
  width:25vw;
  height: 100vh;
  background: #ccc;
  color: black;
  overflow: auto;
}
.main{
  width:72vw;
  height: 100vh;
  color: black;
}
.list{
  text-align: center;
  margin: 20px;
}
.name{
  margin: 7.5px;
  cursor: pointer;
}
button{
  padding:7.5px;
}